/PASSIFY/PASSIFY/bin/*
/PASSIFY/.vs/*
/PASSIFY/.idea/*
/PASSIFY/PASSIFY/obj/*
/PASSIFY/PASSIFY/obj/Debug/net9.0/rpswa.dswa.cache.json
/PASSIFY/PASSIFY/obj/Debug/net9.0/PASSIFY.AssemblyInfo.cs
/PASSIFY/PASSIFY/obj/Debug/net9.0/PASSIFY.AssemblyInfoInputs.cache
