$size: 1em;
$border-size: .2em;
.loader {
  border: $border-size solid #f3f3f3; /* Light grey */
  border-top: $border-size solid #3498db; /* Blue */
  border-radius: 50%;
  width: $size;
  height: $size;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}