create DATABASE passify;

use [passify];

-- Create a new table called events 
-- Drop Table if Exists

--Creates Table for organizers
create  table Organizer(
    Id int not null primary key, --Primary Key
    Name varchar(255) not null,
    
    -- Foreign Key
    EventId int not null, 
    foreign key (EventId) REFERENCES Events(Id)
);

--Creates Table for Events
create table Events(
    Id int not null primary key, --Primary Key
    Name varchar(255) not null,
    Description varchar(500) not null,
    Date date not null,
    EventStart time not null,
    EventEnd time not null,

    -- Foreign Key    
    OrganizerId int not null, 
    foreign key (OrganizerId) REFERENCES Organizer(Id)
);
-- Creates table to store data regarding the creation and modification of events
create table Events_Meta(
    Created DATETIME not null,
    Modified DATETIME not null,
    
    --Foreign Key
    EventId int not null,
    foreign key (EventId) references Events(Id)
);

--Creates Table for Category
create table Category(
    Id int primary key, --Primary Key
    Type varchar(255)
);




