@* HOMEPAGE INDEX *@
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome <span class="text-secondary">User.Name</span> to your Passify admin Dashboard</h1>
</div>

<section class="d-grid">
    <p>Add an Event</p>
    <p>Add a new Category</p>
    <p>Add a new Organizer</p>
</section> 